.search_bar_form {
    display: flex;
}

.search_bar_select {
    border: none;
    padding: 15px 20px;
    background-color: #FFF;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_bar_input {
    border: none;
    padding: 15px;
    background-color: #FFF;
    font-size: 16px;
}

.search_bar_submit {
    border: none;
    padding: 15px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

svg {

}