iframe {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
}

.guia-video__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}