.card_div {
    padding: 5%;
}

.card_div ul li {
    margin-bottom: 18px;
    list-style: none;
    border-radius: 5px;
    border: 0.1px solid rgba(19, 23, 61, 0.3);
}

.card_div ul li a {
    text-decoration: none;
}
.card_div ul li:hover {
    background-color: rgba(19, 23, 61, 0.1);;
}